<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="authority" value="https://login.windows.net/common" />
    <add key="clientId" value="8f3e815a-9720-4a10-bf71-94d87edc5d21"/>
    <add key="clientAppUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient"/>
    <add key="serverName" value="https://outlook.office365.com" />
    <add key="credentials" value="" />
    <add key="mailAccountToWatch" value="tdb_daten_ach.ch@schindler.com" />
    <add key="locationForExtraction" value="C:\\TEMP\\" />
    </appSettings>
</configuration>

